/*font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;*/
body {
  color: rgba(0,0,0,.87);
  background-color: #262422;
}
a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
.center {
  text-align: center;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.relative {
  position: relative;
}
.hidden-lg {
  display: none;
}
.hidden-xs {
  display: block;
}
.navbar-default {
  background-color: #262422;
  border: 0;
}
nav.navbar-default div.container-fluid {
  margin: 0;
}
ul.nav.navbar-nav {
  float: right;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a {
  color: #ffc20e;
  background-color: #262422;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul.nav-list * {
  list-style: none;
  display: inline-block;
  color: #ffc20e;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  padding: 8px 10px;
  letter-spacing: 1px;
  font-size:
}
div.logo-wrapper {
  text-align: center;
  margin: 6em 0 4em;
}
img.logo {
  max-width: 700px;
  width: 38%;
  min-width: 500px;
}
.header-buttons {
  text-align: center;
}
.header-buttons button.btn {
  color: #ffc20e;
  margin: .5em 2.8em;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
button.btn {
  text-transform: uppercase;
  border: 3px solid;
  padding: .8em 2em;
  font-size: 1.1em;
  width: 200px;
  font-family: 'Arvo', serif;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
  letter-spacing: 1px;
  font-weight: 100;
}
div.container-fluid.header {
  background: url(/public/assets/header.png);
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 10em;
  margin-top: 2em;
}
div.container-fluid.info-wrapper {
  position: relative;
  height: 200px;
}
div.svg-border {
  position: absolute;;
  width: 100%;
  height: 200px;
  left: 0;
}
svg.trapezoid {
  position: absolute;
  top: -5em;
}
svg.trapezoid.left {
  left: 0;
}
svg.trapezoid.right {
  right: 0;
}
div.info-box {
  padding: 1.5em 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -7em;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #3a3a3a;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.row.contain {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
h2.info-title {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: #ffc20e;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
  font-weight: 100;
  margin: 0 0 1em 0;
}
.hr-vert {
  width:2px;
  height:80%;
  background-color:rgba(0,0,0, 0.15);
  position:absolute;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}
.split-sides {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 2em;
}
.split-sides p {
  display: inline;
  margin: 0;
  position: absolute;
}
.split-sides p,
.split-sides p a {
  letter-spacing: 2px;
  font-size: 1.1em;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
}
.split-sides p.right,
.split-sides p.right a {
  right:0;
  color: #fcfcfc;
  font-family: 'Lato', sans-serif;
}
.split-sides p.left {
  left:0;
  color: #ffc20e;
  font-family: 'Arvo', serif;
}
.split-sides p.right a.address-link {
  letter-spacing: 1px;
  font-size: 1em;
}
h2.title-center {
  text-align: center;
  color: #fcfcfc;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: 100;
}
.outer-button#menu {
  background: url('/public/assets/menu-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#brunch {
  background: url('/public/assets/brunch-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#dessert {
  background: url('/public/assets/dessert-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#bar {
  background: url('/public/assets/bar-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button {
  text-align: center;
  width: 80%;
  margin: 2.5em auto;
  height: 150px;
  position: relative;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
button.inner-button.btn {
  color: #fcfcfc;
  background-color: transparent;
  z-index: 10000000;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
p.desc-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  color: #fcfcfc;
}
.wood-panels {
  background: url('/public/assets/panels.png');
  background-size: cover;
  background-position: 50% 50%;
  padding: 10em 0;
}
h2.reservation-title {
  font-family: 'Arvo';
  color: #fcfcfc;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2.2em;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
}
p.reservation-text {
  color: #fcfcfc;
  letter-spacing: 1px;
  font-family: 'Lato';
}
.menu-wrapper {
  position: relative;
  z-index: 1000;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.container.menu-container {
  padding-bottom: 5em;
}
.grid-wrapper {
  background-color: #5f574f;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
.grid-square.grid-1 {
  background: url('/public/assets/grid-1.png');
  background-size: cover;
  background-position: 50% 50%;
}
.grid-square.grid-2 {
  background: url('/public/assets/grid-2.png');
  background-size: cover;
  background-position: 50% 50%;
}
.chalk {
  background: url('/public/assets/chalk.png');
  background-size: cover;
  background-position: 50% 50%;
}
.grid-square {
  height: 450px;
}
svg.trapezoid.left.top {
  top: -10em;
}
.grid-row {
  padding: 5em 0;
}
.grid {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
  padding: 0;
}
.about-wrapper {
  text-align: center;
  color: #fcfcfc;
  width: 70%;
  margin: 4em auto;
}
i.icon-food,
i.icon-basket {
  color: #ffc20e;
  margin: 0;
  font-size: 2.5em;
}
h3.grid-title {
  font-family: 'Arvo', serif;
  font-weight: 100;
  font-size: 1.8em;
  margin-bottom: 0;
}
hr.yellow {
  width: 35%;
  border-color: #ffc20e;
}
.grid-text {
  font-family: 'Lato', sans-serif;
}
.wood-panels.form-container {
  padding: 3em 0;
}
.form-wrapper {
  text-align: center;
}
.form-wrapper h2 {
  font-size: 2.5em;
  font-family: 'Arvo', serif;
  color: #fcfcfc;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
}
.form-wrapper p {
  font-family: 'Lato', sans-serif;
  color: #fcfcfc;
  font-size: 1.2em;
}
.form-wrapper input {
  font-family: 'Lato', sans-serif;
  padding: .2em;
  font-size: 1.5em;
  border: 1px solid gray;
  display: inline;
  width: 90%;
  margin: 1em auto;
}
input[type="submit"] {
  background-color: #5f574f;
  border: 3px solid black;
  color: #ffc20e;
  font-family: 'Arvo';
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
}
.gallery-wrapper {
  padding: 6em 0;
}
.gallery .col-md-6.chalk {
  padding: 6em 0;
}
.gallery .col-md-6 {
  height: 500px;
  padding: 0;
}
.gallery-prev#gallery-1 {
  background-size: cover;
  background-position: 50% 50%;
  background: url('/public/assets/gallery/gallery-1-prev.png');
}
.gallery-prev#gallery-2 {
  background-size: cover;
  background-position: 50% 50%;
  background: url('/public/assets/gallery/gallery-2-prev.png');
}
.gallery-prev#gallery-3 {
  background-size: cover;
  background-position: 50% 50%;
  background: url('/public/assets/gallery/gallery-3-prev.png');
}
.gallery-prev#gallery-4 {
  background-size: cover;
  background-position: 50% 50%;
  background: url('/public/assets/gallery/gallery-4-prev.png');
}
h2.gallery-title {
  font-family: 'Arvo', serif;
  color: #ffc20e;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}
.gallery-button {
  color: #fcfcfc;
  background-color: transparent;
  font-size: 1em;
}
.gallery-button-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 3em 0;
}
button.gallery-button.btn {
  width: 25%;
  font-size: .9em;
  margin: 0px .5em;
}
p.gallery-text {
  text-align: center;
  color: #fcfcfc;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
