/*font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;*/
body {
  color: rgba(0,0,0,.87);
  background-color: #262422;
}
a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
.navbar-default {
  background-color: #262422;
  border: 0;
}
nav.navbar-default div.container-fluid {
  margin: 0;
}
ul.nav.navbar-nav {
  float: right;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a {
  color: #ffc20e;
  background-color: #262422;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul.nav-list * {
  list-style: none;
  display: inline-block;
  color: #ffc20e;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  padding: 8px 10px;
  letter-spacing: 1px;
  font-size:
}
div.logo-wrapper {
  text-align: center;
  margin: 6em 0 4em;
}
img.logo {
  max-width: 700px;
  width: 38%;
  min-width: 500px;
}
.header-buttons {
  text-align: center;
}
.header-buttons button.btn {
  color: #ffc20e;
  margin: .5em 2.8em;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
button.btn {
  text-transform: uppercase;
  border: 3px solid;
  padding: .8em 2em;
  font-size: 1.1em;
  width: 200px;
  font-family: 'Arvo', serif;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
  letter-spacing: 1px;
  font-weight: 100;
}
div.container-fluid.header {
  background: url(/public/assets/header.png);
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 10em;
  margin-top: 2em;
}
div.container-fluid.info-wrapper {
  position: relative;
  height: 200px;
}
div.svg-border {
  position: absolute;;
  width: 100%;
  height: 200px;
  left: 0;
}
svg.trapezoid {
  position: absolute;
  top: -5em;
}
svg.trapezoid.left {
  left: 0;
}
svg.trapezoid.right {
  right: 0;
}
div.info-box {
  padding: 1.5em 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -7em;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #3a3a3a;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.row.contain {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
h2.info-title {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: #ffc20e;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
  font-weight: 100;
  margin: 0 0 1em 0;
}
.hr-vert {
  width:2px;
  height:80%;
  background-color:rgba(0,0,0, 0.15);
  position:absolute;
  right:0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}
.split-sides {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 2em;
}
.split-sides p {
  display: inline;
  margin: 0;
  position: absolute;
}
.split-sides p,
.split-sides p a {
  letter-spacing: 2px;
  font-size: 1.1em;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 2px 0px;
}
.split-sides p.right,
.split-sides p.right a {
  right:0;
  color: #fcfcfc;
  font-family: 'Lato', sans-serif;
}
.split-sides p.left {
  left:0;
  color: #ffc20e;
  font-family: 'Arvo', serif;
}
.split-sides p.right a.address-link {
  letter-spacing: 1px;
  font-size: 1em;
}
h2.title-center {
  text-align: center;
  color: #fcfcfc;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: 100;
}
.outer-button#menu {
  background: url('/public/assets/menu-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#brunch {
  background: url('/public/assets/brunch-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#dessert {
  background: url('/public/assets/dessert-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button#bar {
  background: url('/public/assets/bar-button.png');
  background-size: cover;
  background-position: 50% 50%;
}
.outer-button {
  text-align: center;
  width: 80%;
  margin: 2.5em auto;
  height: 150px;
  position: relative;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
button.inner-button.btn {
  color: #fcfcfc;
  background-color: transparent;
  z-index: 10000000;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
p.desc-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  color: #fcfcfc;
}
